fastapi
uvicorn
transformers
torch
scikit-learn
pandas
PyMuPDF
python-multipart
streamlit
plotly
alembic
langchain
langchain-community
langchain-openai
faiss-cpu
python-dotenv
langchain-huggingface
sentence-transformers

slowapi
PyJWT
cryptography
boto3
psycopg2-binary

